<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>68633403415-ucq0jipb564dne3cltnrt8aqtjh39jl2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.68633403415-ucq0jipb564dne3cltnrt8aqtjh39jl2</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>68633403415-0hs6ieenp7anshmvi9bse8bemp1ut9u0.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDKFaaa09Utsf8nH-dBUlrY5bZhlI66Kj4</string>
	<key>GCM_SENDER_ID</key>
	<string>68633403415</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.soulgood</string>
	<key>PROJECT_ID</key>
	<string>soulgood-app</string>
	<key>STORAGE_BUCKET</key>
	<string>soulgood-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:68633403415:ios:b4774e06dfd0b5e2513c52</string>
</dict>
</plist>